* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Pixel';
    src: url('PressStart2P-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

p {
    font-family: 'Pixel';
}

#canvas {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background: url('./images/space_background.png');
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    font-family: 'Pixel';
}

#ships, #projectiles, #animations, #explosion {
    display: none;
}